.container {
    display: flex;
    height: 100%;
    align-items: center;
}
.user-list-extend {
    flex-basis: 20%;
    background: #444752;
    height: 100%;
}
.formContainer {
    flex-basis: 80%;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
    height: 100%;
    padding: 10px;
}
.formContainer input {
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 18px;
    font-size: 1.8rem;
    width: calc(100% - 100px);
    color: #34495e;
    line-height: 1.5;
    border-radius: 10px;
}
.formContainer button {
    padding: 0;
    background-color: #95c3eb;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    top: -7px;
    height: calc(100px - 40px);
    width: calc(100px - 20px);
}
.formContainer .tone-bar {
    width: 0%;
    height: 10px;
    max-width: calc(100% - 100px);
    background: rgb(98, 185, 127);
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
}

.tone-bar .tone-icon {
    height: 50px;
    width: 20px;
    position: relative;
    left: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    top: -5px;
}
.tone-bar .tone-icon.happy {
    background-image: url(/assets/haha.svg);
}

.tone-bar .tone-icon.angry {
    background-image: url(/assets/angry.svg);
}

.tone-bar .tone-icon.sad {
    background-image: url(/assets/sad.svg);
}

.tone-bar .tone-icon.disgust {
    background-image: url(/assets/sad.svg);
}

.tone-bar .tone-icon.surprise {
    background-image: url(/assets/wow.svg);
}

.tone-bar .tone-icon.joy {
    background-image: url(/assets/ya.svg);
}

@media only screen and (max-width: 500px) {
    .user-list-extend {
        display: none;
    }
    .formContainer {
        flex-basis: 100%;
    }
}