<div class="container">
    <div class="signUpContent">
      <h2 class="heading">Privacy Preserving Real Time Sentiment Analysis</h2>
      <div class="text">
          This application uses deep learning and convolutional neural networks to provide real time sentiment analysis for a group chat session. Sometimes, during textual conversation (especially for non-English speakers), the tone of the conversation does not convey the actual feeling. The analysis is done by a CNN model (trained on 25000 IMDB reviews) to separate text into positive or negative class. The classification is done in the browser, so the user's chat message does not leave his/her system.   
      </div>
    </div>
    <div class="signUpForm">
      <form #loginForm="ngForm">
        <h2 class="heading">Login</h2>
        <input type="email" name="email" placeholder="Enter your email address"
        [(ngModel)]="email" class="formInput" maxlength="60" required/>
        <input type="password" name="password" placeholder="Choose a password"
        [(ngModel)]="password" class="formInput" maxlength="60" required/>
        <button class="btn" [disabled]="!loginForm.form.valid" type="submit"
        (click)="login()" id="btn-login">Log In</button>
      </form>
    </div>
</div>

