<div class="navBar">
  <div id="logo" class="logo">
    <div class="icon angry"></div>
    <div class="icon sad"></div>
    <div class="icon disgust"></div>
    <div class="icon surprise"></div>
    <div class="icon happy"></div>
    <div class="icon happy"></div>
  </div>
  <div class="links">
    <button class="btn" *ngIf="(user|async)?.uid" >
      <span>
          <a href="#" (click)="logout()">Logout</a>
      </span>
    </button>
    <span>
        <span id="userEmail" class="userEmail" *ngIf="(user|async)?.uid">{{userEmail}}</span>
    </span>
    <button class="btn" *ngIf="!(user|async)?.uid" routerLink="/signup">
      <span>
          <a>Sign Up</a>
      </span>
    </button>
   <button class="btn" *ngIf="!(user|async)?.uid" routerLink="/login">
      <span>
          <a href="#" (click)="login()">Login</a>
        </span>
      </button>
  </div>
</div>
