.navBar {
    display: flex;
    height: 100%;
}

.logo {
    flex-basis: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    flex-basis: 40%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.links button {
    margin: 0px 10px;
}

button.btn {
    padding: 0;
    background-color: #2f8e9f;
    border-radius: 4px;
    cursor: pointer;
}

.btn span {
    white-space: nowrap;
    display: block;
    position: relative;
    padding: 20px 25px;
    text-transform: uppercase;
    color: #fff;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease;
}

.btn span {
    text-shadow: rgba(29, 111, 165, 0.9) 0 0 2px;
}

.btn span a {
    text-decoration: none;
    color: white;
}
.icon {
    background-image: url(/assets/haha.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0px 10px;
    flex-basis: 7%;
    height: 50%;
}

.icon.happy {
    background-image: url(/assets/haha.svg);
}

.icon.angry {
    background-image: url(/assets/angry.svg);
}

.icon.sad {
    background-image: url(/assets/sad.svg);
}

.icon.disgust {
    background-image: url(/assets/sad.svg);
}

.icon.surprise {
    background-image: url(/assets/wow.svg);
}

.icon.joy {
    background-image: url(/assets/ya.svg);
}

@media only screen and (max-width: 500px) {
    .logo {
        display: none;
    }
    .links {
        flex-basis: 100%;
    }
}