.userItem {
    height: 60px;
    display: flex;
    color: white;
    padding: 10px;
    margin: 20px 0px;
}

.icon {
    flex-basis: 15%;
    background-image: url(/assets/haha.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.icon.happy {
    background-image: url(/assets/haha.svg);
}

.icon.angry {
    background-image: url(/assets/angry.svg);
}

.icon.sad {
    background-image: url(/assets/sad.svg);
}

.icon.disgust {
    background-image: url(/assets/sad.svg);
}

.icon.surprise {
    background-image: url(/assets/wow.svg);
}

.icon.joy {
    background-image: url(/assets/ya.svg);
}

.userName {
    align-items: center;
    margin-left: 10px;
    display: flex;
}

@media only screen and (max-width: 500px) {
    .userItem {
        height: 40px;
    }
    .icon {
        flex-basis: 10%;
    }
    .userName {
        max-width: 150px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}